/* Общая таблица стилей */
@font-face {
    font-family: 'AABebasNeue';
    src: url('../fonts/AABebasNeue.eot');
    src: url('../fonts/AABebasNeue.eot') format('embedded-opentype'),
         url('../fonts/AABebasNeue.woff2') format('woff2'),
         url('../fonts/AABebasNeue.woff') format('woff'),
         url('../fonts/AABebasNeue.ttf') format('truetype'),
         url('../fonts/AABebasNeue.svg#AABebasNeue') format('svg');
}
@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/RalewayBold.eot');
    src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
         url('../fonts/RalewayBold.woff2') format('woff2'),
         url('../fonts/RalewayBold.woff') format('woff'),
         url('../fonts/RalewayBold.ttf') format('truetype'),
         url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}
@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/RalewayLight.eot');
    src: url('../fonts/RalewayLight.eot') format('embedded-opentype'),
         url('../fonts/RalewayLight.woff2') format('woff2'),
         url('../fonts/RalewayLight.woff') format('woff'),
         url('../fonts/RalewayLight.ttf') format('truetype'),
         url('../fonts/RalewayLight.svg#RalewayLight') format('svg');
}
@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/RalewayRegular.eot');
    src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'),
         url('../fonts/RalewayRegular.woff2') format('woff2'),
         url('../fonts/RalewayRegular.woff') format('woff'),
         url('../fonts/RalewayRegular.ttf') format('truetype'),
         url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}

html {
  font-size: 20px;
}

body.compactDevice {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-family: 'RalewayBold', sans-serif;
  font-size : 1.5rem;
  line-height : 1.33em;
  color : #697075;
}

h2 {
  font-family: 'RalewayBold', sans-serif;
  font-size : 1rem;
  line-height : 1.2em;
  color : #39B54A;
}

.text {
  font-family: 'RalewayRegular', sans-serif;
  font-size: 0.8rem;
  line-height: 1.625em;
  color: #383838;
}
.text.bold {
  font-family: 'RalewayBold', sans-serif;
}

.lead {
  font-family: 'RalewayRegular', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: #383838;
}
.lead.bold {
  font-family: 'RalewayBold', sans-serif;
}
.link {
  font-family : 'RalewayRegular', sans-serif;
  font-size : 0.8rem;
  color : #0013BC;
}
  .link:hover {
    color : #000F95;
    border-bottom: 1px solid rgba(0, 113, 188, 0.3);
  }
.tag {
  padding: 0.5em 1em;
  margin: 6px 6px;
  font-family : 'RalewayRegular', sans-serif;
  font-size: 0.7rem;
  line-height: 1.8em;
  color: #FFB54A;
  border-radius : 4px;
  border: 1px solid transparent;
  background-color: rgba(24, 181, 74, 0.2);
  white-space: nowrap;
  transition: color 0.2s ease,
              background-color 0.2s ease,
              border 0.2s ease;
}
  .tag:before {
    content: '#\00A0';
  }
  .list-current-tag .tag,
  .tag[data-current=""],
  .tag:hover {
    border: 1px solid rgba(0, 146, 69, 1);
    color: #FFFFFF;
    background-color: rgba(0, 146, 69, 1);
  }

.annotation {
  font-family : 'RalewayRegular', sans-serif;
  font-size : 0.7rem;
  line-height : 1.28em;
  color : #B9CBD1;
}

blockquote {
  margin-left: 8.33333%;
  max-width: 83.333333%;
  padding-left: 30px;
}
  blockquote p.text {
    position: relative;
    font-family: 'RalewayRegular', sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    color: #39B54A;
  }
  blockquote p.text,
  blockquote p.text + p.annotation {
    padding-left: 30px;
  }
    blockquote p.text:before {
      position: absolute;
      top: 0.5rem;
      left: 0px;
      content: '“';
      font-family : RalewayBold;
      font-weight : bold;
      font-size : 2.5rem;
      line-height : 1.6rem;
    }
    blockquote p.text + p.annotation {
      margin: 20px 0 35px;
      color: #666666;
    }

a {
  text-decoration: none;
  transition: color 0.2s ease;
}
a.text {
  color: #383838;
}
  a.text:hover {
    color: #121212;
  }
  input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius : 5px;
    text-decoration: none;
    font-family : 'RalewayRegular';
    font-size : 0.8rem;
    line-height : 1.625em;
    width : 100%;
    height : 46px;
    background : rgba(57,181,74,1);
    font-family : 'RalewayBold';
    color : #FFFFFF;
    border : 1px solid #009245;
    cursor: pointer;
    transition: color 0.2s ease,
                background-color 0.2s ease,
                border 0.2s ease;
  }
    input[type='submit']:hover {
      background-color: rgba(57,181,74,0.8);
    }
    form input[type='submit'] {
      margin-top: 20px;
    }

  .input,
  .textarea {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em 0 0;
    border: 1px solid #cecece;
    border-radius: 5px;
  /*   max-width: 350px;
    width: calc(100% - 2em); */
    width: 100%;
    vertical-align: top
  }
  .input {
    height: 46px;
  }
  .textarea textarea.input__field--akira {
    min-height: 4.6rem;
    text-align: left;
  }

.input__field {
  position: relative;
  display: block;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  font-size: 0.8rem;
  color: #383838;
  font-weight: bold;
  resize: none;
  font-family: 'RalewayRegular', sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}
textarea.input__field {
  padding-top: 0.8em;
  padding-bottom: 2.6em;
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-size: 70.25%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  font-family: 'RalewayRegular';
  font-size: 0.8rem;
  color: #383838;
  opacity: 0.7;
  line-height: 46px;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

/* Individual styles */
  
/* Akira */
.input--akira {
  margin-top: 1.5rem;
  background-color: #FFFFFF;
}

.input__field--akira {
  z-index: 10;
  display: block;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: center;
}

.input__label--akira {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  color: #cc6055;
  cursor: text;
}

.input__label--akira::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(0.97, 0.85, 1);
  transform: scale3d(0.97, 0.85, 1);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.input__label-content--akira {
  transition: font-size 0.2s,
              opacity 0.1s,
              -webkit-transform 0.3s;
  transition: transform 0.3s,
              font-size 0.2s,
              opacity 0.1s;
  transition: transform 0.3s,
              font-size 0.2s,
              opacity 0.1s,
              -webkit-transform 0.3s;
}

.input__field--akira:focus + .input__label--akira::before,
.input--filled .input__label--akira::before {
  -webkit-transform: scale3d(0.99, 0.95, 1);
  transform: scale3d(0.99, 0.95, 1);
}

.input__field--akira:focus + .input__label--akira,
.input--filled .input__label--akira {
  cursor: default;
  pointer-events: none;
}

.input__field--akira:focus + .input__label--akira .input__label-content--akira,
.input--filled .input__label-content--akira {
  opacity: 0.6;
  font-size: 0.65rem;
  -ms-transform: translateY(-1.6rem);
  -webkit-transform: translateY(-1.6rem);
  transform: translateY(-1.6rem);
}
   /* Error */
   label.error {
    position: absolute;
    top: -1.3em;
    width: 100%;
    text-align: center;
    font-family: 'RalewayRegular';
    font-size: 0.6rem;
    color: red;
   }
   input.error + label.error + .input__label > .input__label-content {
     opacity: 0;
   }

    /* Reset autocomplit */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    input:-webkit-autofill, 
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 0;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
    }
  /* Checkbox */
  label.input-checkbox {
    position: relative;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
  }

    .input-checkbox input[type='checkbox'] {
      visibility: hidden;
      width: 0;
      position: relative;
      height: 1.625em;
      top: 7px;
      margin-right: 15px;
    }

    .input-checkbox input[type='checkbox'] + span:before {
      display: block;
      position: absolute;
      top: 12px;
      left: 0;
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 3px;
      border: 2px solid rgba(0,0,0,0.5);
      background-color: #FFFFFF;
    }

      .input-checkbox span {
        padding-left: 15px;
        opacity: 0.5;
        transition: opacity .1s ease;
        -webkit-transition: opacity .1s ease;
      }

        .input-checkbox span:hover {
          opacity: 1;
          transition: opacity .1s ease;
          -webkit-transition: opacity .1s ease;
        }

        .input-checkbox input[type='checkbox']:checked + span,
        .input-checkbox input[type='checkbox']:checked + span:before{
          opacity: 1;
          transition: opacity .1s ease;
          -webkit-transition: opacity .1s ease;
          }

        .input-checkbox input[type='checkbox']:checked + span:before{
          background-color: #FFFFFF;
          transition: border-color .1s ease;
          -webkit-transition: border-color .1s ease;
        }
          .input-checkbox input[type='checkbox']:checked + span:after {
            position: absolute;
            content: '';
            top: 10px;
            left: 4px;
            width: 16px;
            height: 16px;
            background-image: url('../img/marker-check.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
           }

  /* Дроплист */
  .droplist {
    position: relative;
    height: 40px;
  }
    .droplist-current.text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40px;
      padding: 0 23px 0 18px;
      font-size: 0.7rem;
      line-height: 40px;
      z-index: 1;
      cursor: pointer;
    }
    .droplist-current:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 7px;
      display: block;
      content: '';
      height: 100%;
      width: 9px;
      background-image: url('../img/icon-droplist-pointter.svg');
      background-position: right center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
      .m-open-droplist.droplist-current:after {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    .droplist-block {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      max-height: 300px;
      background-color: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0px 0px 5px rgba(130, 130, 130, 0.2);
      z-index: 100;
      overflow-y: auto;
      transition: opacity 0.2s ease;
      -webkit-transition: opacity 0.2s ease;
    }
      .droplist-item {
        padding: 7px 18px;
        border-bottom: 1px dotted #CECECE;
        cursor: pointer;
      }
        .droplist-item:hover,
        .droplist-item_select {
          background-color: #f7f7f7;
        }
      .droplist-item:first-child {
        border-radius: 4px 4px 0 0;
      }
      .droplist-item:last-child {
        border-bottom: none;
        border-radius: 0 0 4px 4px;
      }
      .m-open-droplist.droplist-block {
        opacity: 1;
        pointer-events: auto;
      }

.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  display: none;
  height: 50px;
  width: 100vw;
  background-color: #FFFFFF;
  box-shadow: 0 1px 15px -2px rgba(0,0,0,0.5);
}
    .top-panel .button-menu {
      position: absolute;
      top: 0;
      right: 10px;
      width: 50px;
      height: 100%;
      padding: 14px 0;
    }
      .top-panel .button-menu p {
        margin: 0 auto;
        margin-bottom: 6px;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        background-color: #808080;
      }
        .top-panel .button-menu p:last-child {
          margin-bottom: 0;
        }
        .button-menu p {
          -ms-transform-origin: 0;
          -webkit-transform-origin: 0;
          transform-origin: 0;
          transition: opacity 0.2s ease,
                      -webkit-transform 0.3s ease;
          transition: opacity 0.2s ease,
                      transform 0.3s ease;
          transition: opacity 0.2s ease,
                      transform 0.3s ease,
                      -webkit-transform 0.3s ease;
        }
          .open-menu.button-menu p:first-child {
            -ms-transform: rotate(45deg) scale(0.87);
            -webkit-transform: rotate(45deg) scale(0.87);
            transform: rotate(45deg) scale(0.87);
          }
          .open-menu.button-menu p:nth-child(2) {
            opacity: 0;
          }
          .open-menu.button-menu p:last-child {
            -ms-transform: rotate(-45deg) scale(0.87);
            -webkit-transform: rotate(-45deg) scale(0.87);
            transform: rotate(-45deg) scale(0.87);
          }

/* Попапы входа/регистрации */
.l-popup {
  position: fixed;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
  transition: opacity 0.5s ease;
}
  .open-popup.l-popup {
    opacity: 1;
    pointer-events: auto;
  }
  .button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 1.2rem;
    width: 1.2rem;
    background-image: url('../img/icon-close.svg');
    cursor: pointer;
  }
  .b-popup__window {
    position: relative;
    display: none;
    margin: auto;
    width: 570px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(230,230,230,0.25);
  }
    .open-popup.b-popup__window {
      display: block;
    }
    .form-wrapp {
      padding: 2rem 5rem 0;
    }
    .b-popup__window h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .b-popup__window .input .link {
      position: absolute;
      top: 50%;
      margin-top: -0.5em;
      right: 20px;
      color : #0071BC;
      z-index: 10;
      transition: font-size 0.2s,
                  opacity 0.1s,
                  -webkit-transform 0.3s;
      transition: transform 0.3s,
                  font-size 0.2s,
                  opacity 0.1s;
      transition: transform 0.3s,
                  font-size 0.2s,
                  opacity 0.1s,
                  -webkit-transform 0.3s;
    }
      .b-popup__window .input--filled.input .link {
        font-size: 0.65rem;
        -ms-transform: translateY(-2.6em);
        -webkit-transform: translateY(-2.6em);
        transform: translateY(-2.6em);
      }

      span + input[type="submit"] {
        margin-top: 30px;
      }

      .b-popup__window p.annotation {
        margin-top: 20px;
        margin-bottom: 5px;
      }

      .enter-social-wrapp {
        font-size: 0;
        margin-bottom: 40px;
      }
        .enter-social-wrapp a {
          display: inline-block;
          height: 2.2rem;
          width: calc(50% - 10px);
          text-align: center;
          font-size: 0.9rem;
          line-height: 2.2rem;
          color: #FFFFFF;
          border-radius: 5px;
          background-size: auto 1rem;
          background-repeat: no-repeat;
          background-position: 15px center;
        }
          .enter-social-wrapp a:hover {
            color: #f5f5f5;
          }
          .button-google {
            margin-right: 10px;
            background-color: #DD4B39;
            background-image: url('../img/logo-g-plus.svg');
          }
            .button-google:hover {
              background-color: #dd6639;
            }
          .button-facebook {
            margin-left: 10px !important;
            background-color: #4E6BA8;
            background-image: url('../img/logo-facebook.svg');
          }
            .button-facebook:hover {
              background-color: #4e5ca8;
            }
      .b-popup__bottom {
        padding: 1.25em 10px;
        width: 100%;
        text-align: center;
        background-color: rgba(185, 203, 209, 0.3);
      }
/* ------------------------------- */

header,
main,
footer {
  min-width: 1024px;
}

/* HEADER */
  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 15px -2px rgba(0,0,0,0.5);
    transition: height 0.2s ease,
                opacity 0.4s ease;
    z-index: 9999;
  }

    header .wrapp {
      padding: 0 10px;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    header.m-menu_small {
      height: 40px;
    }
    header .wrapp,
    section .wrapp,
    footer .wrapp {
      height: 100%;
      min-width: 1024px;
      max-width: 1180px;
      margin: 0 auto;
    }
      .header-logo {
        display: block;
        height: 40px;
        width: 200px;
        transition: height 0.2s ease;
        background-image: url('../img/logo.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
      }
      .m-menu_small .header-logo {
        height: 30px;
      }
      .l-header .header-nav {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 0 40px;
      }
        .l-header .header-nav a:hover {
          color: #39B54A;
        }
        .header-register {
          line-height: 1.625em;
          text-align: center;
        }
          .header-register a {
            display: inline-block;
            margin: 10px 5px;
            padding: 5px 15px;
            height: 100%;
            border-radius: 4px;
            transition: background-color 0.2s ease,
                        padding 0.2s ease,
                        margin 0.2s ease;
          }
          .m-menu_small .header-register a {
            margin: 3px 5px;
            padding: 3px 15px;
          }
          .header-register .login-button {
            background-color: #CCCCCC;
            color : #333333;
          }
            .header-register .login-button:hover {
              background-color: #d9d9d9;
              color : #333333;
            }
          .header-register .register-button {
            background-color: #39B54A;
            color : #FFFFFF;
          }
            .header-register .register-button:hover {
              background-color: #44c455;
              color : #FFFFFF;
            }
        .header-user {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
        }
          .header-user img {
            height: 30px;
            width: 30px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 20px;
          }
          .header-user a.annotation {
            color: #0071BC;
          }

/* Стили оформления ссылки на новость блога */
.blog-item__inner {
  display: block;
  }
      .blog-item__bg {
        width : 100%;
        height : 222px;
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 4px;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
        .blog-item__bg img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease;
          transition: transform 0.2s ease, -webkit-transform 0.2s ease;
        }
          .blog-item__inner:hover img {
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        .blog-item__inner h2 {
          color: #383838;
          transition: color 0.2s ease;
        }
          .blog-item__inner:hover h2 {
            color : #39B54A;
          }
        .blog-item__inner .text.bold {
          margin-bottom: 20px;
          color : #39B54A;
          transition: color 0.2s ease;
        }
          .blog-item__inner:hover .text.bold {
            color : #383838;
          }
        h2 {
          margin-bottom: 20px;
        }
          .blog-item__inner .text span {
            color: #0013BC;
            transition: color 0.2s ease,
                        border 0.2s ease;
          }
          .blog-item__inner:hover .text span {
            color: #000F95;
            border-bottom: 1px solid rgba(0, 113, 188, 0.3);
          }
/* Блок ссылок на соцсети */
    .b-content__contact-social {
    }
      .b-content__contact-social p.text {
        position: relative;
        padding: 40px 0;
        margin-bottom: 60px;
        text-align: center;
      }
        .b-content__contact-social p.text:before,
        .b-content__contact-social p.text:after {
          position: absolute;
          left: 50%;
          display: block;
          content: '';
          width: 1px;
          height: 35px;
          background-color: #CCCCCC;
        }
        .b-content__contact-social p.text:before {
          top: 0px;
        }
        .b-content__contact-social p.text:after {
          bottom: 0px;
        }
        .b-content__contact-social-inner {
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          margin: 0 auto;
        }
          .b-content__contact-social-item {
            display: block;
            margin: 0 10px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
            transition: -webkit-transform 0.2s ease;
            transition: transform 0.2s ease;
            transition: transform 0.2s ease, -webkit-transform 0.2s ease;
          }
            .b-content__contact-social-item:hover {
              -ms-transform: scale(1.1) translate3d(0px, 0px, 0px);
              -webkit-transform: scale(1.1) translate3d(0px, 0px, 0px);
              transform: scale(1.1) translate3d(0px, 0px, 0px);
            }
            .b-content__contact-social-item[title='Facebook'] {
              background-image: url('../img/icon-social-fb.svg');
            }
            .b-content__contact-social-item[title='Instagram'] {
              background-image: url('../img/icon-social-in.svg');
            }
            .b-content__contact-social-item[title='Twitter'] {
              background-image: url('../img/icon-social-tw.svg');
            }
            .b-content__contact-social-item[title='Vkontakte'] {
              background-image: url('../img/icon-social-vk.svg');
            }

/* Кнопка вверх */
.button-to-top {
  position: fixed;
  display: none;
  bottom: 100px;
  left: 40px;
  width: 90px;
  height: 40px;
  background-image : url('../img/bg-button-to-top.svg');
  background-color: rgba(24, 181, 74, 0.2);
  background-size: 59px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.1s ease;
}
  .show-button.button-to-top {
    opacity: 0.7;
  }
  .show-button.button-to-top:hover {
    opacity: 1;
  }


/* FOOTER */
  footer {
    background-color: #383838;
  }
    footer .wrapp {
      padding: 50px 0 50px;
    }
    .b-footer__column {
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
      .b-footer__column-note {
        padding-top: 60px;
        background-image: url('../img/logo-dark.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: auto 35px;
      }
        .b-footer__column-note .annotation {
          line-height: 1.625em;
        }
        .b-footer__column-item .text.bold {
          color: #FFFFFF;
          margin-bottom: 40px;
        }
          .b-footer__column-item li a[href^="mailto"] {
            display: inline-block;
            padding: 1px 0 1px 25px;
            background-image: url('../img/icon-email.svg');
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
          }
          .b-footer__column-item li a[href^="skype"] {
            display: inline-block;
            padding: 1px 0 1px 25px;
            background-image: url('../img/icon-skype.svg');
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
          }
          .b-footer__column-item li:not(:last-child) {
            margin-bottom: 20px;
          }
          .b-footer__column-item .annotation {
            color: #999999;
          }
            .b-footer__column-item:not(:last-child) .annotation:hover {
              color: #FFFFFF;
              padding-bottom: 2px;
              border-bottom: 1px solid #666666
            }
    .l-footer p.annotation {
      margin-left: 10px;
      opacity: 0.4;
    }
      .l-footer p.annotation span:last-child {
        margin-left: 30px;
      }

@media (max-width: 768px) {

  h1,
  h2,
  .lead,
  .text,
  p.link,
  ul {
    max-width: 600px;
    margin: 0 auto;
  }

  .input__field--akira:focus + .input__label--akira .input__label-content--akira,
  .input--filled .input__label-content--akira {
    opacity: 0.6;
    font-size: 0.65rem;
    -ms-transform: translateY(-2.2rem);
    -webkit-transform: translateY(-2.2rem);
    transform: translateY(-2.2rem);
  }

  .top-panel {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 10000;
  }
    .top-panel .header-logo {
      display: block;
      height: 30px;
      background-position: center;
    }
    .top-panel .button-menu {
      position: absolute;
      display: block;
    }

    header,
    main,
    footer {
      min-width: 0;
      margin: 0 auto;
    }
    header .wrapp,
    section .wrapp,
    footer .wrapp {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      min-width: 0;
      max-width: 1180px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
      header {
        pointer-events: none;
        opacity: 0;
        height: 100vh;
        width: 100vw;
      }
        header.open-menu {
          opacity: 1;
          pointer-events: auto;
        }
        header .wrapp {
          height: 100vh;
        }
        header .header-logo.col {
          display: none;
        }
        .l-header .row {
          padding: 20vh 10px 20vh;
          -ms-flex-direction: column;
          -webkit-flex-direction: column;
          flex-direction: column;
        }
          .header-nav.col {
            -ms-flex: 5;
            -webkit-flex: 5;
            flex: 5;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            margin-bottom: 40px;
          }
        .header-nav > li {
          text-align: center;
        }
          .header-nav a,
          .header-register a {
            font-size: 1.5rem;
          }
          .header-register a {
            display: block;
            margin-bottom: 0.7em;
            height: auto;
            margin: 20px auto;
            width: 40%;
          }
          .header-register.col {
            margin: 0;
          }
          .header-nav li,
          .header-register {
            opacity: 0;
            pointer-events: none;
            font-size: 1.5rem;
            -ms-transform: translate3d(-50px,0,0);
                -webkit-transform: translate3d(-50px,0,0);
                transform: translate3d(-50px,0,0);
            transition: opacity 0.2s ease 0.2s,
                        -webkit-transform 0.4s ease 0.2s;
            transition: opacity 0.2s ease 0.2s,
                        transform 0.4s ease 0.2s;
            transition: opacity 0.2s ease 0.2s,
                        transform 0.4s ease 0.2s,
                        -webkit-transform 0.4s ease 0.2s;
          }
          .open-menu .header-nav li,
          .open-menu .header-register {
            opacity: 1;
            pointer-events: auto;
            -ms-transform: translate3d(0,0,0);
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
          }
        .header-register.col {
          -ms-flex: 1;
          -webkit-flex: 1;
          flex: 1;
          text-align: center;
        }
      .header-user {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
        .header-user img {
          height: 60px;
          width: 60px;
        }
        .header-user a {
          font-size: 1.2rem;
        }

  .l-content {
    padding-top: 0;
  }
    .b-footer__column-item {
      margin-bottom: 40px;
    }
    .b-footer__column-item .text.bold {
      margin-bottom: 10px;
    }
      .b-footer__column-item p.text.bold,
      .b-footer__column-item ul > li,
      .l-footer p.annotation {
        text-align: center;
      }
      
     .b-footer__column-item li a[href^="mailto"],
     .b-footer__column-item li a[href^="skype"] {
        padding-left: 23px;
      }
}
  
@media (max-width: 550px) {
  .l-header .row {
    padding: 70px 10px 20px;
  }
  .header-user a {
    font-size: 1rem;
  }
  .header-register.col {
    margin: 5px 0;
  }
  .header-register a {
    width: 100%;
  }
  .l-popup {
    height: 100%;
    width: 100%;
    bottom: auto;
  }
  .b-popup__window {
    height: 100%;
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 0;
    box-shadow: none;
  }
  .open-popup.b-popup__window {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .form-wrapp {
    padding: 60px 30px 0;
  }
  .register.b-popup__window .form-wrapp {
    padding: 20px 30px 0;
  }
  .enter-social-wrapp {
    margin-bottom: 20px;
  }
  .enter-social-wrapp a {
    width: calc(50% - 5px);
    background-size: auto 0.8rem;
    background-position: 10px center;
  }
  .b-popup__register h1 {
    margin-bottom: 0;
  }
  label.input-checkbox {
    margin-bottom: 10px;
  }
  .input-checkbox input[type='checkbox'] + span:before{
    top: 7px;
  }
  span + input[type="submit"] {
    margin-top: 10px;
  }
  .b-popup__window p.annotation {
    margin-top: 10px;
  }
  .b-popup__bottom.text {
    padding: 1em 10px;
  }

  header {
  }
  blockquote {
    margin-left: 0;
    max-width: 100%;
    padding-left: 0;
  }
  
  /* Кнопка вверх */
  .button-to-top {
    bottom: 50px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-size: 30px 30px;
    opacity: 0.7;
    border-radius: 4px;
  }
  
  .input__field--akira:focus + .input__label--akira .input__label-content--akira,
  .input--filled .input__label-content--akira {
    opacity: 0.6;
    font-size: 0.65rem;
    -ms-transform: translateY(-2.2rem);
    -webkit-transform: translateY(-2.2rem);
    transform: translateY(-2.2rem);
  }

  footer {
    
  }
  footer .wrapp {
    padding: 30px 0;
  }
    .b-footer__column-item .text.bold {
      display: table;
      padding-right: 30px;
      margin-bottom: 20px;
      background-image: url('../img/icon-open-accordeon.svg');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 10px auto;
      transition: background-image 0.2s ease;
    }
      .open-accordeon.b-footer__column-item .text.bold {
        background-image: url('../img/icon-close.svg');
      }
      .b-footer__column-item:not(.open-accordeon) {
        margin-bottom: 0px;
      }
      .l-footer .b-footer__column-item ul {
        display: none;
      }
      .b-footer__column-item li:not(:last-child) {
        margin-bottom: 10px;
      }
    .l-footer p.annotation {
      text-align: center;
    }

}