html {
  font-size: 20px;
}

  .b-content__counter {
    padding: 190px 0 95px;
    width: 100%;
    background : -ms-linear-gradient(-164.1deg, rgba(92, 224, 152, 1) 0%, rgba(66, 86, 134, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CE098', endColorstr='#425686' ,GradientType=0)";
    background : linear-gradient(254.1deg, rgba(92, 224, 152, 1) 0%, rgba(66, 86, 134, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CE098',endColorstr='#425686' , GradientType=1);
  }
    .b-content__counter h1 {
      max-width: 580px;
      margin: 0 auto;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 65px;
    }
    .b-content__counter-digits {
      position: relative;
      margin: 0 auto;
      margin-bottom: 40px;
      width: 100%;
      font-family : 'AABebasNeue';
      font-size : 0;
      text-align: center;
      color : #FFFFFF;
    }
      .b-content__counter-digits span {
        font-size : 7.5rem;
        padding: 0 20px;
        border-left: 1px solid rgba(0, 58, 71, 0.4);
      }
      .b-content__counter-digits span:last-child {
        padding: 0 20px;
        border-right: 1px solid rgba(0, 58, 71, 0.4);
      }
      .b-content__counter-digits:after {
        position: absolute;
        margin-left: 20px;
        font-size: 2.2rem;
        line-height: 8.2rem;
        content: attr(data-valuta);
        color: rgba(8, 74, 58, 0.4);
      }
    p.b-content__counter-help {
      color: #FFFFFF;
      text-align: center;
      width: 100%;
    }

  .b-content__scheme {
    padding: 160px 0 80px;
  }
    .b-content__scheme-item {
      position: relative;
      padding-top: 170px;
      background-repeat: no-repeat;
    }
      .b-content__scheme-item:first-child:after {
        position: absolute;
        top: 90px;
        right: 0;
        content: '';
        display: block;
        height: 16px;
        width: 80px;
        background-image: url('../img/pointer-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 2;
      }
        .b-content__scheme-item:after {
          position: absolute;
          top: 90px;
          right: -55px;
          content: '';
          display: block;
          height: 16px;
          width: 80px;
          background-image: url('../img/pointer-left-right.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          z-index: 2;
        }
        .b-content__scheme-item:nth-last-child(3):after {
          display: none;
        }
        
        .b-content__scheme-item:nth-last-child(2):after {
          display: none;
          position: absolute;
          top: 90px;
          right: 50%;
          margin-right: -42px;
          content: '';
          display: block;
          height: 16px;
          width: 80px;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          background-image: url('../img/pointer-left.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          z-index: 2;
        }
          .m-content__scheme-item_1.b-content__scheme-item {
            background-image: url('../img/icon-scheme-1.svg');
            background-position: center 40px;
            background-size: auto 104px;
          }
          .m-content__scheme-item_2.b-content__scheme-item {
            background-image: url('../img/icon-scheme-2.svg');
            background-position: center 20px;
            background-size: auto 138px;
          }
          .m-content__scheme-item_3.b-content__scheme-item {
            background-image: url('../img/icon-scheme-3.svg');
            background-position: center 20px;
            background-size: auto 138px;
          }
          .m-content__scheme-item_4.b-content__scheme-item {
            background-image: url('../img/icon-scheme-4.svg');
            background-position: center 46px;
            background-size: auto 114px;
          }
        .b-content__scheme-item-title {
          text-align: center;
          font-family: 'RalewayRegular', sans-serif;
          font-size : 0.7rem;
          line-height : 1.15em;
          color : #B9CBD1;
        }
        .b-content__scheme-item-circle {
          height: 2.1rem;
          width: 2.1rem;
          margin: 35px auto 25px;
          background-color: #B9CBD1;
          text-align: center;
          font-family : 'AABebasNeue';
          font-size : 1.3rem;
          line-height : 2.1rem;
          color : #FFFFFF;
          border-radius: 50%;
        }
        .b-content__scheme-item-circle + .text {
          text-align: center;
        }
      .m-content__scheme-item_tagline.b-content__scheme-item {
        margin-bottom: 50px;
        text-align: center;
        font-family: 'RalewayBold', sans-serif;
        font-size : 1rem;
        line-height : 1.5em;
        color : #697075;
      }
        .m-content__scheme-item_tagline.b-content__scheme-item span {
          color : #39B54A;
        }
      .m-content__scheme-item_register {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
      }

      .button {
        width: 333px;
        height: 100px;
        padding: 15px 35px 15px 35px;
        border-style : Solid;
        border-color : #009245;
        border-width : 1px;
        border-radius : 4px;
        -moz-border-radius : 4px;
        -webkit-border-radius : 4px;
        cursor: pointer;
      }
      .contact-us.button .lead {
        margin-bottom: 10px;
        line-height: 0.9em;
        color : #FFFFFF
      }
      .contact-us.button .text {
        line-height: 0.9rem;
        color : #FFFFFF;
      }

        .contact-us.button {
          color: #FFFFFF;
          background : #39B54A;
        }
        .get-counter.button {
          color: ;
          background : #FFFFFF;
        }
