/* Таблица стилей к странице статистики */
.l-content {
  padding-top: 0;
}
  .b-content__title {
    padding-top: 120px;
    height: 400px;
    background-color: #EAEFF1;
  }
    .b-content__title h1 {
      text-align: center;
      color: #000000;
      margin-bottom: 30px;
    }
    .b-content__title p.lead {
      text-align: center;
    }

  .b-content__losses {
  }
  .b-content__losses .wrapp {
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
  }
    .b-content__losses-left {
      background-color: #F7F7F7;
      border-radius: 10px;
    }
      .b-content__losses-left-item {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 0 30px;
        padding: 40px 0;
      }
        .b-content__losses-left-item:not(:last-child) {
          border-bottom: 1px solid #E6E6E6;
        }
        .b-content__losses-left-item {
        }
          .b-content__losses-left-item p.text {
            max-width: 60%;
            margin-right: 40px;
          }
          .b-content__losses-left-item h1 {
            max-width: calc( 40% - 40px );
            font-family : 'AABebasNeue', sans-serif;
            font-size : 2.9rem;
            line-height: normal;
            color : #39B54A;
          }

    .b-content__losses-right.col {
      padding-left: 40px;
    }
      .b-content__losses-right table {
        width: 100%;
      }
        .b-content__losses-right table tr {
          vertical-align: bottom;
        }
        .b-content__losses-right table tr > th:nth-child(1),
        .b-content__losses-right table tbody tr > td:nth-child(1),
        .b-content__losses-right table tfoot tr > td:nth-child(1) {
          width: 30%;
        }
          .b-content__losses-right table tr > th:nth-child(1) h2,
          .b-content__losses-right table tfoot tr > td:nth-child(1) h2 {
            font-weight : bold;
            font-size : 0.9rem;
            line-height : 1.35em;
            color : #000000;
          }
          .b-content__losses-right table tbody tr > td:nth-child(1) span {
            padding-right: 10px;
          }
        .b-content__losses-right table tr > th:nth-child(2),
        .b-content__losses-right table tbody tr > td:nth-child(2),
        .b-content__losses-right table tfoot tr > td:nth-child(2) {
          width: 60%;
          padding-left: 10px;
          text-align: right;
        }
          .b-content__losses-right table tr > th h1,
          .b-content__losses-right table tfoot tr > td h1 {
            margin-top: -0.2em;
            margin-bottom: -0.2em;
            font-size : 2.3rem;
            font-family : 'AABebasNeue', sans-serif;
          }
          .b-content__losses-right table tr > th:nth-child(2) h1 {
            color: #666666;
          }
          .b-content__losses-right table tfoot tr > td:nth-child(2) h1 {
            color: #39B54A;
          }
          
          
          .b-content__losses-right table tbody tr > td:nth-child(2) span {
            padding-left: 10px;
          }
            .b-content__losses-right table tr > th:nth-child(2) h1:after,
            .b-content__losses-right table tfoot tr > td:nth-child(2) h1:after {
              color: #CCCCCC;
            }
        .b-content__losses-right table tr > th:nth-child(3),
        .b-content__losses-right table tr > td:nth-child(3) {
          width: 10%;
          padding-left: 40px;
        }
          .b-content__losses-right table tr > th:nth-child(3) h1,
          .b-content__losses-right table tfoot tr > td:nth-child(3) h1 {
            color: #CC4D23;
          }
          .b-content__losses-right table tr > td:nth-child(3) .percents,
          .b-content__losses-right table tfoot tr > td:nth-child(3) .percents {
              color: #CC4D23;
            }
            .percents:after {
              content: '%';
            }
          [data-currency]:after {
            content: ' 'attr(data-currency);
          }
        .b-content__losses-right table tbody {
        }
        .b-content__losses-right table tr > td {
          padding-top: 10px;
        }
        .b-content__losses-right table tr > td span {
          position: relative;
          bottom: -0.55em;
          background-color: #FFFFFF;
        }
        .b-content__losses-right table tbody tr > td:nth-child(1),
        .b-content__losses-right table tbody tr > td:nth-child(2) {
          border-bottom: 1px dotted rgba(179, 179, 179, 0.8);
        }
          .b-content__losses-right table tfoot {
          }
            .b-content__losses-right table tfoot td {
                padding-top: 80px;
             }
              .b-content__losses-right table {
                  position: relative;
               }
               .b-content__losses-right table:after {
                  position: absolute;
                  bottom: 90px;
                  left: 0;
                  right: 0;
                  content: '';
                  display: block;
                  border-bottom: 1px solid #E6E6E6;
                }

  .b-content__use-block {
  }
    .b-content__use-block .wrapp {
      padding-top: 70px;
      padding-bottom: 50px;
      border-bottom: 1px solid #E6E6E6;
    }
    .b-content__use-block h2:first-child {
      margin-bottom: 70px;
      font-size: 0.9rem;
      color: #000000;
    }
    .b-content__use-block p.lead {
      font-size: 0.8rem;
    }
      .b-content__use-block p.lead:not(:last-child) {
        margin-bottom: 40px;
      }
      .b-content__use-block p.lead > span {
        color: #39B54A;
      }
        .b-content__use-block p.lead > span:after {
          content: '%';
        }
    .b-content__use-block-circle {
    }
      .circle {
        margin-bottom: 35px;
      }
    .circle p {
      margin: 0 auto;
      height: 132px;
      width: 132px;
      border: 1px solid #CECECE;
      border-radius: 50%;
    }
    .circle canvas {
        margin: 0 calc((100% - 140px) / 2);
        max-height: 140px;
        max-width: 140px;
        margin-top: -5px;
        margin-left: -5px;
    }
      .b-content__use-block-circle .percents {
        text-align: center;
        font-family : 'AABebasNeue', sans-serif;
        font-size : 2.9rem;
        color : #333333;
      }
      .b-content__use-block-circle .percents + h2 {
        text-align: center;
        font-size : 0.9rem;
        line-height : 1.35em;
        color : #666666;
      }

  .b-content__traffic {
  }
    .b-content__traffic .wrapp {
      padding-top: 50px;
      padding-bottom: 100px;
    }
    .b-content__traffic-filter {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-bottom: 35px;
      margin-bottom: 25px;
      border-bottom: 1px solid #E6E6E6;
    }
  .b-add-car__form-item.droplist[category] {
    display: none;
  }
      /* Дроплист */
  .droplist {
    -ms-flex: 1 0 140px;
    -webkit-flex: 1 0 140px;
    flex: 1 0 140px;
    position: relative;
    height: 40px;
    max-width: 140px;
  }
    .droplist-title {
      position: absolute;
      top: -20px;
      left: 20px;
      font-size: 0.7rem;
    }
    .droplist-current.text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      padding: 0 23px 0 18px;
      font-size: 0.7rem;
      line-height: 40px;
      text-align: center;
      color: #FFFFFF;
      background-color: #39B54A;
      border-radius: 4px;
      z-index: 1;
      cursor: pointer;
    }
    .droplist-current:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 7px;
      display: block;
      content: '';
      height: 100%;
      width: 9px;
      background-image: url('../img/icon-droplist-pointter.svg');
      background-position: right center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
      .m-open-droplist.droplist-current:after {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    .droplist-block {
      position: absolute;
      top: 50px;
      left: 0;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      max-height: 300px;
      background: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0px 0px 5px rgba(130, 130, 130, 0.2);
      z-index: 100;
      overflow-y: auto;
      transition: opacity 0.2s ease;
      -webkit-transition: opacity 0.2s ease;
    }
      .droplist-item {
        padding: 7px 18px;
        border-bottom: 1px dotted #CECECE;
        cursor: pointer;
      }
        .droplist-item:hover,
        .droplist-item_select {
          background: #f7f7f7;
        }
      .droplist-item:first-child {
        border-radius: 4px 4px 0 0;
      }
      .droplist-item:last-child {
        border-bottom: none;
        border-radius: 0 0 4px 4px;
      }
      .m-open-droplist.droplist-block {
        opacity: 1;
        pointer-events: auto;
      }

      .b-filter__switch {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      }
      .category.b-filter__switch {
        -ms-flex: 4 0 600px;
        -webkit-flex: 4 0 600px;
        flex: 4 0 600px;
        max-width: 600px;
      }
      .display.b-filter__switch {
        -ms-flex: 1 0 110px;
        -webkit-flex: 1 0 110px;
        flex: 1 0 110px;
        max-width: 110px;
      }
        .b-filter__switch-item {
          -ms-flex: 1;
          -webkit-flex: 1;
          flex: 1;
          height: 40px;
          padding: 0 3px;
          white-space: nowrap;
          text-align: center;
          font-size: 0.7rem;
          line-height: 36px;
          border: 1px solid #E6E6E6;
          border-left: none;
          background-color: #FFFFFF;
          color: #383838;
          cursor: pointer;
          overflow: hidden;
          transition: color 0.2s ease,
                      background-color 0.2s ease;
        }
          .b-filter__switch-item:first-child {
            border-radius: 5px 0 0 5px;
            border: 1px solid #E6E6E6;
          }
          .b-filter__switch-item:last-child {
            border-radius: 0 5px 5px 0;
            border: 1px solid #E6E6E6;
            border-left: none;
          }
          .m-filter__switch-item_active.b-filter__switch-item {
            background-color: #E6E6E6;
          }
      .b-content__traffic canvas {
        max-height: 370px;
        width: 100%;
/*         background: url('../img/temp/chart-5.svg') center 100% no-repeat; */
      }

  .b-content__contact {
    padding-top: 60px;
    padding-bottom: 70px;
    background : rgba(185, 203, 209, 0.3);
  }
    .b-content__contact h1 {
      text-align: center;
      color: #000000;
      margin-bottom: 20px;
    }
    .b-content__contact h1 + p.text {
      text-align: center;
      margin-bottom: 10px;
    }
    .form-contact {
      margin-bottom: 50px;
    }
      .b-content__contact .input.input--akira {
        float: left;
        width: 55%;
      }
      .b-content__contact input[type="submit"] {
        margin-top: 1.5rem;
        float: right;
        width: 40%;
      }
    .b-content__contact .row + p.text {
      text-align: center;
    }

  @media (max-width: 1100px) {
    section .wrapp {
      padding-left: 10px;
      padding-right: 10px;
    }
    .b-content__losses .wrapp {
      padding-top: 50px;
      padding-bottom: 30px;
    }
      .b-content__losses-right table tr > th:nth-child(1) h2, .b-content__losses-right table tfoot tr > td:nth-child(1) h2 {
        font-size: 0.7rem;
      }
      .b-content__losses-right table tr > th h1,
      .b-content__losses-right table tfoot tr > td h1 {
        font-size: 1.9rem;
      }
      .b-content__losses-right table tr > th:nth-child(3),
      .b-content__losses-right table tr > td:nth-child(3) {
        padding-left: 10px;
      }
    .b-content__use-block .wrapp {
      padding-top: 40px;
    }
      .b-content__use-block h2:first-child {
        margin-bottom: 30px;
        text-align: center;
      }
      .b-content__use-block p.lead {
        text-align: center;
      }
      .b-content__use-block p.lead:not(:last-child) {
        margin-bottom: 10px;
      }
      .b-content__use-block p.lead:last-child {
        margin-bottom: 40px;
      }
  }

  @media (max-width: 768px) {
  .b-content__title {
    padding: 100px 0 50px;
  }
    .b-content__losses-left-item {
        margin: 0 10px;
      }
      .b-content__losses-left-item h1 {
        font-size: 2.2rem;
      }
      .b-content__losses-left-item p.text {
        max-width: 70%;
        margin-right: 10px;
      }
    .b-content__losses-right table:after {
      bottom: 60px;
    }
    .b-content__losses-right table tr > th h1, .b-content__losses-right table tfoot tr > td h1 {
      font-size: 1.25rem;
    }
    .b-content__losses-right table tr > th:nth-child(1) h2, .b-content__losses-right table tfoot tr > td:nth-child(1) h2 {
      font-size: 0.8rem;
    }
    .b-content__traffic .wrapp {
      padding-top: 30px;
    }
    .b-content__traffic-filter {
    }
    .b-add-car__form-item.droplist[traffic] {
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: calc(33.333333% - 10px);
      text-align: center;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }
    .b-add-car__form-item.droplist[category] {
      display: block;
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: calc(33.333333% - 10px);
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
    }
      .b-add-car__form-item.droplist[category] .droplist-current.text {
        background-color: #CECECE;
      }
    .b-filter__switch.category {
      display: none;
    }
    .b-filter__switch.display {
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
      margin-left: 8.333333%;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
    }
    .b-content__contact .input.input--akira {
      width: 100%;
    }
    .b-content__contact input[type="submit"] {
        width: 100%;
    }
  }

  @media (max-width: 670px) {
    .b-content__losses-left-item {
      margin: 0;
    }
    .b-content__losses-left-item p.text {
      margin-right: 10px;
    }
    .b-content__losses-left-item h1 {
      max-width: none;
    }
    .b-content__losses-right.col {
      padding-left: 20px;
    }
    .b-content__losses-right table tr > th h1, .b-content__losses-right table tfoot tr > td h1 {
      font-size: 1.1rem;
    }
    }