/* Таблица стилей к странице статистики */
.l-content {
  padding-top: 0;
}
  .b-content__title {
    padding-top: 180px;
    padding-bottom: 50px;
    background-color: #EAEFF1;
  }
    .b-content__title picture {
      display: block;
      margin: 0 auto;
      width: 90px;
      margin-bottom: 25px;
    }
    .b-content__title picture source {
    }
      .b-content__title picture img {
        height: 90px;
        width: 90px;
        object-fit: cover;
        border-radius: 50%;
      }
    .b-content__title p.lead {
      margin-bottom: 10px;
      text-align: center;
    }
    .b-content__title-settings {
      text-align: center;
    }
      .b-content__title-settings .annotation {
        color : #0071BC;
      }
        .b-content__title-settings .annotation:hover {
          color : #177FC5;
        }
      .b-content__title-settings .annotation:first-child {
        margin-right: 30px;
      }

  .b-content__getstats {
    
  }
    .b-content__getstats .wrapp {
      padding: 70px 0 80px;
    }
      section h1 {
        margin-bottom: 15px;
        text-align: center;
        color:  #000000;
      }
      section h1 + p.text {
        text-align: center;
        margin-bottom: 60px;
      }
      .b-content__message {
        display: table;
        padding-right: 190px;
        padding-left: 20px;
        margin: 0 auto;
        margin-bottom: 80px;
        height: 85px;
        border-radius: 8px;
        background-repeat: no-repeat;
      }
        .b-content__message a.text.bold {
          display: table;
          margin: 0 auto;
          padding-left: 34px;
          text-align: center;
          font-size: 1rem;
          color: #000000;
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: left center;
          line-height: 85px;
        }
          .b-content__getstats a.text:hover {
            color : #177FC5;
          }
      .b-content__help {
        text-align: center;
      }
        .b-content__help a {
          color : #0071BC;
        }
      .b-content__getstats-site {
        position: relative;
        background-color: #F9FDF9;
        background-size: auto 25px;
        background-position: 23px center;
      }
      .b-content__getstats-site:after {
        position: absolute;
        display: inline-block;
        right: 20px;
        top: 0;
        padding-left: 20px;
        line-height: 85px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: auto 12px;
      }
        .b-content__getstats-site[data-successful]:after {
          content: attr(data-successful);
          color: #39B54A;
          background-image: url('../img/marker.svg');
        }
        .b-content__getstats-site[data-failure]:after {
          content: attr(data-failure);
          color: #FC031C;
          background-image: url('../img/icon-failure.svg');
        }
        .b-content__getstats-site a.text.bold {
          color: #383838;
        }

  @media (max-width: 1025px) {
    section .wrapp {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 769px) {
    .b-content__title {
      padding-top: 120px;
    }
  }

  @media (max-width: 670px) {
}

  @media (max-width: 550px) {
    .b-content__title {
      padding-top: 80px;
    }
    .b-content__title p.lead {
      margin-bottom: 20px;
    }
      .b-content__title-settings .annotation:first-child {
        margin-right: 0;
        margin-bottom: 20px;
        display: block;
      }
    .b-content__getstats .wrapp {
      padding: 30px 10px;
    }
    section h1 + p.text {
      margin-bottom: 30px;
    }
    .b-content__message {
      padding-right: 20px;
      width:  100%;
      margin-bottom: 30px;
    }
      .b-content__getstats-site:after {
        display: none;
      }
    .b-content__help a.text {
      line-height: normal;
    }
  }