/* Таблица стилей к странице контактов */
.not-active,
.not-active *,
.not-active .b-content__transitions-link-item-info h2,
.not-active .b-content__transitions-link-item-info .annotation {
  pointer-events: none;
  color: #E6E6E6;
  background-color: #E6E6E6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  .b-content__title {
    padding: 85px 0 25px;
    height: 260px;
    background-image: url('../img/bg-tittle-vacancies.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
    .b-content__title h1 {
      text-align: center;
      font-size: 2.4rem;
      color: #FFFFFF;
      margin-bottom: 25px;
    }
    .b-content__title p.lead {
      text-align: center;
      margin-bottom: 50px;
      color: #FFFFFF;
    }

.b-content__transitions {
  padding: 45px 0 80px;
}
  .b-content__transitions-link-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px;
    width: 100%;
    border: 1px Solid #E6E6E6;
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
  }
    .b-content__transitions-link-item:hover {
      box-shadow : 4px 6px 7px rgba(14, 65, 68, 0.35);
    }
    .b-content__transitions-link-item:last-child {
      margin-bottom: 0px;
    }
    .b-content__transitions-link-item-info {
      -webkit-flex: 0 0 33%;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 33%;
    }
      .b-content__transitions-link-item-info h2 {
        margin-bottom: 10px;
        font-size: 0.9rem;
        color: #0071BC;
      }
      .b-content__transitions-link-item-info .annotation {
        color : #999999;
        line-height: 1.6em;
      }
    .b-content__transitions-link-item-note {
      -webkit-flex: 0 0 64%;
      -ms-flex: 0 0 64%;
      flex: 0 0 64%;
      max-width: 64%;
    }

  .b-content__offer,
  .b-content__social {
    background-color: #F8FAFA;
  }
    .b-content__offer-inner {
      padding: 50px 0 0;
      
    }
      .b-content__offer-inner-item {
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
        opacity: 0;
        padding-top: 80px;
        background-repeat: no-repeat;
        background-position: 10px top;
      }
      .start-animation.b-content__offer .b-content__offer-inner-item {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
        .m-content__offer-inner-item_1.b-content__offer-inner-item {
          background-position: center top;
          background-size: 80px 48px;
          background-image: url('../img/bg-offer-1.svg');
          transition: opacity 0.3s ease,
                     -webkit-transform 0.3s ease;
          transition: opacity 0.3s ease,
                     transform 0.3s ease;
          transition: opacity 0.3s ease,
                     transform 0.3s ease,
                     -webkit-transform 0.3s ease;
        }
        .m-content__offer-inner-item_2.b-content__offer-inner-item {
          background-size: 100px 45px;
          background-image: url('../img/bg-offer-2.svg');
          transition: opacity 0.3s ease 0.2s,
                     -webkit-transform 0.3s ease 0.2s;
          transition: opacity 0.3s ease 0.2s,
                     transform 0.3s ease 0.2s;
          transition: opacity 0.3s ease 0.2s,
                     transform 0.3s ease 0.2s,
                     -webkit-transform 0.3s ease 0.2s;
        }
        .m-content__offer-inner-item_3.b-content__offer-inner-item {
          background-size: 140px 45px;
          background-image: url('../img/bg-offer-3.svg');
          transition: opacity 0.3s ease 0.5s,
                     -webkit-transform 0.3s ease 0.5s;
          transition: opacity 0.3s ease 0.5s,
                     transform 0.3s ease 0.5s;
          transition: opacity 0.3s ease 0.5s,
                     transform 0.3s ease 0.5s,
                     -webkit-transform 0.3s ease 0.5s;
        }
        .m-content__offer-inner-item_4.b-content__offer-inner-item {
          background-size: 67px 50px;
          background-image: url('../img/bg-offer-4.svg');
          transition: opacity 0.3s ease 0.8s,
                     -webkit-transform 0.3s ease 0.8s;
          transition: opacity 0.3s ease 0.8s,
                     transform 0.3s ease 0.8s;
          transition: opacity 0.3s ease 0.8s,
                     transform 0.3s ease 0.8s,
                     -webkit-transform 0.3s ease 0.8s;
        }
    .b-content__offer-note {
      margin: 50px auto 25px;
      max-width: 50%;
    }
      .b-content__offer-note .text {
        text-align: center;
        opacity: 0.4;
      }

  .b-content__social {
  }
    .b-content__social .wrapp {
      padding: 40px 0 30px;
    }

  @media (max-width: 1024px) {
    .b-content__title {
      height: auto;
    }
    .b-content__title p.lead {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
  .b-content__title {
    height: auto;
  }
    h1 {
      text-align: center;
      padding: 0;
    }
    .l-content {
      padding-top: 0;
    }
    .b-content__offer h1 {
      margin-bottom: 20px;
    }
    .b-content__offer-inner-item {
      margin-top: 20px;
      padding-top: 60px;
      background-position: center top;
      text-align: center;
    }
    .b-content__offer-note {
      max-width: 75%;
    }
  }

  @media (max-width: 550px) {
    .b-content__title {
      padding: 90px 10px 30px;
    }
    .b-content__transitions {
      padding: 30px 0;
    }
    .b-content__transitions .wrapp {
      padding-left: 0;
      padding-right: 0;
    }
    .b-content__transitions-link-item {
      padding: 10px;
    }
    .b-content__transitions-link-item-info h2 {
      font-size: 0.8rem;
    }
    .b-content__transitions-link-item-info .annotation,
    .b-content__transitions-link-item-note {
      font-size: 0.7rem;
    }
    .b-content__offer-inner {
      padding-top: 30px;
    }
    .b-content__offer-note {
      margin: 20px auto;
      max-width: 100%;
    }
    .b-content__social .wrapp {
      padding: 10px 0 30px;
    }
  }