html {
  font-size: 20px;
}
.l-content {
  padding-top: 0;
}
  .b-content__counter {
    padding: 140px 0 45px;
    width: 100%;
    background : -ms-linear-gradient(-164.1deg, rgba(92, 224, 152, 1) 0%, rgba(66, 86, 134, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CE098', endColorstr='#425686' ,GradientType=0)";
    background : linear-gradient(254.1deg, rgba(92, 224, 152, 1) 0%, rgba(66, 86, 134, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CE098',endColorstr='#425686' , GradientType=1);
  }
    .b-content__counter h1 {
      max-width: 580px;
      margin: 0 auto;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 65px;
    }
    .b-content__counter-digits {
      position: relative;
      margin: 0 auto;
      margin-bottom: 40px;
      width: 100%;
      font-family : 'AABebasNeue';
      font-size : 0;
      text-align: center;
      color : #FFFFFF;
    }
      .b-content__counter-digits p {
        display: inline-block;
        font-size : 4.5rem;
        padding: 0 20px;
        width: 80px;
        border-left: 1px solid rgba(0, 58, 71, 0.4);
      }
      .b-content__counter-digits p:last-child {
        border-right: 1px solid rgba(0, 58, 71, 0.4);
      }
      .b-content__counter-digits:after {
        position: absolute;
        margin-left: 20px;
        font-size: 2rem;
        line-height: 4.5rem;
        content: attr(data-valuta);
        color: rgba(8, 74, 58, 0.4);
      }
    p.b-content__counter-help {
      color: #FFFFFF;
      text-align: center;
      width: 100%;
    }

  .b-content__scheme {
  }
    .b-content__scheme .wrapp {
      padding: 80px 0 80px;
      border-bottom: 1px solid rgba(185, 203, 209, 0.4);
    }
      .b-content__scheme h1 {
        margin-bottom: 30px;
        text-align: center;
      }
    .b-content__scheme-item {
      position: relative;
      padding-top: 170px;
      background-repeat: no-repeat;
    }
      .b-content__scheme-item:first-child:after {
        position: absolute;
        top: 90px;
        right: 0;
        content: '';
        display: block;
        height: 16px;
        width: 80px;
        background-image: url('../img/pointer-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 2;
      }
        .b-content__scheme-item:after {
          position: absolute;
          top: 90px;
          right: -55px;
          content: '';
          display: block;
          height: 16px;
          width: 80px;
          background-image: url('../img/pointer-left-right.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          z-index: 2;
        }
        .b-content__scheme-item:nth-last-child(3):after {
          display: none;
        }
        
        .b-content__scheme-item:nth-last-child(2):after {
          display: none;
          position: absolute;
          top: 90px;
          right: 50%;
          margin-right: -42px;
          content: '';
          display: block;
          height: 16px;
          width: 80px;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          background-image: url('../img/pointer-left.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          z-index: 2;
        }
          .m-content__scheme-item_1.b-content__scheme-item {
            background-image: url('../img/icon-scheme-1.svg');
            background-position: center 40px;
            background-size: auto 104px;
          }
          .m-content__scheme-item_2.b-content__scheme-item {
            background-image: url('../img/icon-scheme-2.svg');
            background-position: center 20px;
            background-size: auto 138px;
          }
          .m-content__scheme-item_3.b-content__scheme-item {
            background-image: url('../img/icon-scheme-3.svg');
            background-position: center 20px;
            background-size: auto 138px;
          }
          .m-content__scheme-item_4.b-content__scheme-item {
            background-image: url('../img/icon-scheme-4.svg');
            background-position: center 46px;
            background-size: auto 114px;
          }
        .b-content__scheme-item-title {
          text-align: center;
          font-family: 'RalewayRegular', sans-serif;
          font-size : 0.7rem;
          line-height : 1.15em;
          color : #B9CBD1;
        }
        .b-content__scheme-item-circle {
          height: 2.1rem;
          width: 2.1rem;
          margin: 35px auto 25px;
          background-color: #B9CBD1;
          text-align: center;
          font-family : 'AABebasNeue';
          font-size : 1.3rem;
          line-height : 2.1rem;
          color : #FFFFFF;
          border-radius: 50%;
        }
        .b-content__scheme-item-circle + .text {
          text-align: center;
        }
      .m-content__scheme-item_tagline.b-content__scheme-item {
        margin-bottom: 50px;
        text-align: center;
        font-family: 'RalewayBold', sans-serif;
        font-size : 1rem;
        line-height : 1.5em;
        color : #697075;
      }
        .m-content__scheme-item_tagline.b-content__scheme-item span {
          color : #39B54A;
        }
      .m-content__scheme-item_register {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
      }

      .button {
        width: 333px;
        height: 100px;
        padding: 15px 70px 15px 30px;
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position: right 15px center;
        border-style : Solid;
        border-color : #009245;
        border-width : 1px;
        border-radius : 4px;
        -moz-border-radius : 4px;
        -webkit-border-radius : 4px;
        cursor: pointer;
        transition: background 0.2s ease,
                    box-shadow 0.2s ease;
      }
        .button:hover {
          box-shadow : 4px 6px 7px rgba(14, 65, 68, 0.35);
        }
        .m-content__scheme-item_register .button h2{
          margin-bottom: 10px;
          line-height: 0.9em;
        }
        .m-content__scheme-item_register .button .text {
          line-height: 1.125em;
        }
      .contact-us.button {
        background-image: url('../img/button-pointer.svg');
        background-color : rgba(57,181,74,1);
      }
        .contact-us.button:hover {
          background-color : rgba(57,181,74,0.8);
        }
        .contact-us.button h2 {
          color : #FFFFFF;
        }
        .contact-us.button .text {
          color : #FFFFFF;
        }
      .get-counter.button {
        background-image: url('../img/button-pointer-bg-white.svg');
        background-color : #FFFFFF;
      }
        .get-counter.button h2 {
          color: #39B54A;
        }

  .b-content__excellence {
    padding: 65px 0 80px;
  }
      .b-content__excellence h1 {
        margin-bottom: 30px;
        text-align: center;
      }
      .b-content__excellence .tagline {
        text-align: center;
      }
    .b-content__excellence-detail {
      margin-top: 65px;
    }
      .b-content__excellence-detail-item {
        padding-top: 125px;
        background-repeat: no-repeat;
      }
        .m-content__excellence-detail-item_1.b-content__excellence-detail-item {
          background-position: 10px top;
          background-size: 125px 70px;
          background-image: url('../img/icon-excellence-detail-1.svg');
        }
        .m-content__excellence-detail-item_2.b-content__excellence-detail-item {
          background-position: 10px 15px;
          background-size: 90px 60px;
          background-image: url('../img/icon-excellence-detail-2.svg');
        }
        .m-content__excellence-detail-item_3.b-content__excellence-detail-item {
          background-position: 10px 5px;
          background-size: 95px 75px;
          background-image: url('../img/icon-excellence-detail-3.svg');
        }
        .b-content__excellence-detail-item h2 {
          position: relative;
          margin-bottom: 20px;
          padding-left: 25px;
        }
          .b-content__excellence-detail-item h2:before {
            position: absolute;
            left: 0;
            display: block;
            content: '';
            height: 100%;
            width: 15px;
            background-image: url('../img/marker.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }

  .b-content__work {
    padding: 70px 0 70px;
    background : rgba(185, 203, 209, 0.2);
  }
    .b-content__work h1 {
      margin-bottom: 55px;
      text-align: center;
    }
    .b-content__work-item {
      position: relative;
      padding-top: 45px;
    }
      .b-content__work-item:before {
        position: absolute;
        top: 0;
        left: 10px;
        display: block;
        content: '';
        height: 1px;
        width: 95px;
        background-color: #E6E6E6;
      }
      .b-content__work-item h2,
      .b-content__work-item .lead {
        margin-bottom: 25px;
      }
      .b-content__work-item a {
        display: block;
        margin-top: 25px;
        height: 40px;
        width: 110px;
        background : rgba(204, 204, 204, 0.2);
        text-decoration: none;
        text-align: center;
        font-family: 'RalewayRegular', sans-serif;
        font-size : 0.7rem;
        line-height : 40px;
        color : #666666;
        border-radius : 5px;
      }

  .b-content__contact {
  }
    .b-content__contact .wrapp {
      padding: 70px 0;
      border-bottom: 1px solid rgba(185, 203, 209, 0.4);
    }
      .b-content__contact-percent {
        margin-bottom: 30px;
        font-family: 'RalewayRegular', sans-serif;
        font-size : 2.9rem;
        line-height : 1.15em;
        color : #ED3832;
      }
      .b-content__contact-percent + .text.bold {
        margin-bottom: 30px;
      }
      .form-contact {
        margin-top: 10px;
      }
        input[type="email"] {
          margin-bottom: 20px;
        }
    .b-content__contact-statistics {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
    }
      .b-content__contact-statistics-bg {
        height: 300px;
        background-image: url('../img/bg-contact.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .b-content__contact-statistics-bg + div {
        text-align: center;
        max-height: 1.5rem;
      }

  .b-content__blog {
    padding: 70px 0 35px;
  }
    .b-content__blog h1 {
      text-align: center;
      margin-bottom: 70px;
    }
    .blog-container {
      margin-bottom: 50px;
    }
    .blog-item__inner {
      display: block;
    }
      .blog-item__bg {
        width : 100%;
        height : 222px;
        overflow: hidden;
        margin-bottom: 20px;
      }
        .blog-item__bg img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease;
          transition: transform 0.2s ease, -webkit-transform 0.2s ease;
        }
          .blog-item__inner:hover img {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
          }
        .blog-item__inner .text.bold {
          margin-bottom: 20px;
          color : #39B54A;
          transition: color 0.2s ease;
        }
          .blog-item__inner:hover .text.bold {
            color : #383838;
          }
          .blog-item__inner .text span {
            color: #0013BC;
            transition: color 0.2s ease,
                        border 0.2s ease;
          }
          .blog-item__inner:hover .text span {
            color: #000F95;
            border-bottom: 1px solid rgba(0, 113, 188, 0.3);
          }
    .blog-container + p {
      text-align: center;
    }

@media (max-width: 1024px) {
    .b-content__counter-digits {
      padding-right: 35px;
    }
    .b-content__counter-digits p {
      font-size : 3rem;
      padding: 0 10px;
      width: 2rem;
      }
      .b-content__counter-digits:after {
        margin-left: 10px;
        font-size: 2rem;
        line-height: 3rem;
      }
}

  @media (max-width: 768px) {
    .b-content__counter {
      padding: 90px 0 95px;
    }

    .b-content__counter-digits {
      padding-right: 35px;
    }
    .b-content__counter-digits p {
      font-size : 4.7rem;
      padding: 0 10px;
      width: 2.4rem;
      }
      .b-content__counter-digits:after {
        margin-left: 10px;
        font-size: 2.5rem;
        line-height: 6rem;
      }
  .b-content__scheme .wrapp {
    padding-top: 30px;
  }
    .b-content__scheme-item {
      margin-bottom: 80px;
    }
    .m-content__scheme-item_tagline.b-content__scheme-item {
      padding-top: 20px;
    }
    .m-content__scheme-item_tagline.b-content__scheme-item:after {
      top: -40px;
    }
    .b-content__scheme-item:first-child:after,
    .b-content__scheme-item:after {
      top: auto;
      bottom: -53px;
      right: 50%;
      margin-right: -40px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .button {
      margin-bottom: 20px;
    }
    .m-content__scheme-item_register {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  .b-content__excellence-detail {
    margin-top: 20px;
  }  
      .b-content__excellence h2 {
        width: 280px;
        margin: 0 auto;
      }
      .b-content__excellence h2 + p.text {
        text-align: center;
      }
    .m-content__excellence-detail-item_1.b-content__excellence-detail-item,
    .m-content__excellence-detail-item_2.b-content__excellence-detail-item,
    .m-content__excellence-detail-item_3.b-content__excellence-detail-item,
    .m-content__excellence-detail-item_4.b-content__excellence-detail-item {
      padding-top: 90px;
      margin-top: 50px;
      background-position: center top;
    }
    .b-content__work-item:before {
      display: none;
    }
    .b-content__work-item a {
      width: 100%;
    }
    .b-content__contact-statistics {
      margin-bottom: 40px;
    }
    .b-content__contact-percent {
      text-align: center;
    }

  }

  @media (max-width: 550px) {
    .b-content__counter-digits {
      padding-right: 35px;
    }
    .b-content__counter-digits p {
      font-size : 2.3rem;
      padding: 0 10px;
      width: 1.75rem;
      }
      .b-content__counter-digits:after {
        margin-left: 10px;
        font-size: 1rem;
        line-height: 2.4rem;
      }
    .button {
      width: 100%;
    }
      .button.get-counter {
        margin-top: 20px;
      }
  }